<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title id="pageTitle" th:text="#{application_name} + ' - ' + #{page_label_download_archive}"></title>
  <th:block th:include="fragments.html :: header-login"/>
</head>

<!-- Navigation -->
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" th:insert="fragments.html :: navigation"></nav>

<!-- Page Content -->
<section class="main-post">
  <div class="wrapper-posts">
    <div class="left-col">
      <br><br><br><br><br><br>
      <h1 class="h3 mb-3 font-weight-normal text-center" th:text="#{text_archive_is_generate}"></h1>
      <p th:if="${isAvailableArchive == true}" class="text-center">
        <a th:href="@{'/resources/users_archive/users/' + ${user} + '.zip'}" th:text="#{text_download_archive_link}"></a>
      </p>
      <p th:if="${isAvailableArchive == false}" class="text-center">
        <span th:text="#{text_download_archive_is_generate} + ' '"></span>
        <a th:href="@{/profile_archive}" th:text="#{text_download_archive_is_generate_my_archive}"></a>
      </p>
      <br><br><br><br>
      <p class="text-center">
        <a th:href="@{/}" th:text="#{text_back_to_main_page}"></a>
      </p>
      <br><br><br><br>
      <p class="text-center" th:insert="fragments.html :: footer-login"></p>
    </div>
  </div>
</section>

</body>
</html>