<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:include="fragments.html :: header">
    <title id="pageTitle">HandsApp - Рукопожатия</title>
</head>

<!-- Navigation -->
<body>
<nav class="navbar" th:insert="fragments.html :: navigation"></nav>

<!-- Page Content -->
<section class="main">
    <div class="wrapper">
        <div class="left-col">

            <!-- Results -->
            <div class="post">
                <div class="info">
                    <div class="user">
                        <p class="comments-logo" th:text="#{text_handshakes}"></p>
                    </div>
                </div>
            </div>
            <div class="post">
                <div class="post-content">
                    <div class="view-source comments-view">
                        <div class="media-body">
                            <div class="handshakes-text">
                                <div class="user-comments">
                                    <div class="profile-card">
                                        <div>
                                            <p class="handshakes-desc" th:text="#{text_handshakes_description1}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="handshakes-content">
                    <div class="view-source comments-view">
                        <div class="media-body">
                            <div class="info-comments">
                                <div class="user-comments">
                                    <div class="profile-card">
                                        <b class="description-comments-user"><span th:text="#{text_handshakes_description2}"></span></b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="post">
                <div class="post-content">
                    <div class="view-source comments-view">
                        <div class="media-body">
                            <div class="info-comments">
                                <div class="user-comments">
                                    <div class="profile-card">
                                            <form class="search-form-handshakes" method="POST" th:action="@{/handshakes_results}">
                                                <input type="text" class="search-box-handshakes" name="wantedUsername" th:placeholder="#{input_find_handshakes}">
                                            </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Footer -->
            <footer th:insert="fragments.html :: footer"></footer>
        </div>

        <!-- Right Column -->
        <div th:insert="fragments.html :: right-column"></div>
    </div>

</section>

</body>
</html>