<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title id="pageTitle" th:text="#{page_label_dialogues} + ' - ' + #{application_name}"></title>
    <th:block th:include="fragments.html :: header"/>
</head>

<!-- Navigation -->
<body>
<nav class="navbar" th:insert="fragments.html :: navigation"></nav>

<!-- Page Content -->
<section class="main">
    <div class="wrapper">
        <div class="left-col">

            <!-- Dialogs -->
            <div class="post">
                <div class="info">
                    <div class="user">
                        <p class="comments-logo" th:text="#{text_dialogs}"></p>
                    </div>
                </div>
            </div>
            <div class="post">
                <div class="post-content">
                    <div class="view-source comments-view">
                        <div th:if="${dialogs.size() > 0}" th:each="dialogs_view: ${dialogs}">
                            <div class="media-body">
                                <div class="info-comments">
                                    <table class="dialogs-table">
                                        <tr>
                                            <td class="dialog-userimg-column">
                                                <div class="profile-pic-comments">
                                                    <a th:href="@{/messages/{dialogId}(dialogId = ${dialogs_view.getKey()})}">
                                                        <img th:if="${dialogs_view.getValue().photo == null}" th:src="@{'/resources/img/icons/avatar.jpg'}" alt="">
                                                        <img th:if="${dialogs_view.getValue().photo != null and dialogs_view.getValue().isGoogle == false}" th:src="@{'/resources/img/users/' + ${dialogs_view.getValue().username} + '/profile/' + ${dialogs_view.getValue().photo}}" alt="">
                                                        <img th:if="${dialogs_view.getValue().photo != null and dialogs_view.getValue().isGoogle == true}" th:src="${dialogs_view.getValue().photo}" alt="">
                                                    </a>
                                                </div>
                                            </td>
                                            <td class="dialog-username-column user-comments profile-card">
                                                <div>
                                                    <a th:href="@{/messages/{dialogId}(dialogId = ${dialogs_view.getKey()})}">
                                                        <span th:if="${dialogs_view.getValue().isGoogle == false}" th:text="${dialogs_view.getValue().username}" class="username"></span>
                                                        <span th:if="${dialogs_view.getValue().isGoogle == true}" th:text="${dialogs_view.getValue().email}" class="username"></span>
                                                    </a>
                                                </div>
                                            </td>
                                            <td class="dialog-count-column">
                                                <p th:each="lastDate: ${lastDateMessageOfDialog}">
                                                    <span th:if="${dialogs_view.getKey().equals(lastDate.getDialogId()) && lastDate.getUpdatedAt() != null}" th:text="${lastDate.getUpdatedAt().dayOfMonth + '.' + lastDate.getUpdatedAt().monthValue + '.' + lastDate.getUpdatedAt().year + ' г.'}" class="username"></span>
                                                </p>
                                                <span th:each="count_messages: ${unreadMessages}">
                                                    <span th:if="${dialogs_view.getKey() == count_messages.getKey()}" th:text="'    ' + ${count_messages.getValue()}" class="username circle"></span>
                                                </span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div th:if="${dialogs.size() == 0}">
                            <div class="media-body">
                                <div class="view-source comments-view">
                                    <br><br><br>
                                    <h1 class="h3 mb-3 font-weight-normal text-center"
                                        th:text="#{text_no_dialogues}"></h1>
                                    <br><br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Footer -->
            <footer th:insert="fragments.html :: footer"></footer>

        </div>

        <!-- Right Column -->
        <div th:insert="fragments.html :: right-column"></div>
    </div>
</section>

<!-- Bootstrap core JavaScript -->
<!--<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->

</body>
</html>