<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://ya.ru" />
    <meta property="og:title" content="Тест" />
    <meta property="og:description" content="Тест2" />
    <meta property="og:image" content="https://sun9-45.userapi.com/impg/yxvytyHXfVB_OHUBn1ewdDxyCoFsjf3VcG_Cng/s-VSO3wAjoA.jpg?size=1280x1280&quality=95&sign=fc98f67b9e61e6c635a70223b523778f&type=album" />

    <title id="pageTitle" th:text="#{page_label_view_post} + ' - ' + #{application_name}"></title>
    <th:block th:include="fragments.html :: header"/>
    <script th:inline="javascript">var contextPath = [[${#httpServletRequest.getContextPath()}]];</script>
</head>

<!-- Navigation -->
<body>
<nav class="navbar" th:insert="fragments.html :: navigation"></nav>

<!-- Page Content -->
<section class="main">
    <div class="wrapper">
        <div class="left-col">
            <div class="no_public" th:if="${isClosedProfilebyPostId == true}">
                <img th:src="@{'/resources/img/icons/close.png'}" alt="">
                <h1 class="h3 mb-3 font-weight-normal no_public" th:text="#{text_closed_profile}"></h1>
            </div>
            <div class="post" th:if="${isClosedProfilebyPostId == false}" th:object="${post}">
                <input type="hidden" th:field="*{postId}"/>
                <div class="info">
                    <div class="user">
                        <div class="profile-pic">
                            <a th:href="@{/sub-posts/{user}(user = ${post.user.username})}">
                                <img th:if="${post.user.photo == null}" th:src="@{'/resources/img/icons/avatar.jpg'}" alt="">
                                <img th:if="${post.user.photo != null and post.user.isGoogle == false}" th:src="@{'/resources/img/users/' + ${post.user.username} + '/profile/' + ${post.user.photo}}" alt="">
                                <img th:if="${post.user.photo != null and post.user.isGoogle == true}" th:src="${post.user.photo}" alt="">
                            </a>
                        </div>
                        <a th:href="@{/sub-posts/{user}(user = ${post.user.username})}">
                            <p th:if="${post.user.isGoogle == false}" class="username" th:text="${post.user.username}"></p>
                            <p th:if="${post.user.isGoogle == true}" class="username" th:text="${post.user.email}"></p>
                        </a>
                    </div>
                    <a th:if="${#authentication.name == post.user.username}" th:href="@{/post/{postId}/delete_one_post(postId = ${post.postId})}">
                        <img th:src="@{/resources/img/nav/delete.png}" class="options" alt="">
                    </a>
                    <a th:if="${#authentication.name == post.user.username}" th:href="@{/post/{postId}/edit(postId = ${post.postId})}">
                        <img th:src="@{/resources/img/nav/option.png}" class="options" alt="">
                    </a>
                </div>
                <img th:if="${(post.extFile == 'png' || post.extFile == 'jpg') && post.storageType != 'S3'}" th:src="@{'/resources/img/users/' + ${post.user.username} + '/' + ${post.photo}}" class="post-image" alt="">
                <img th:if="${(post.extFile == 'png' || post.extFile == 'jpg') && post.storageType == 'S3'}" th:src="@{${post.photo}}" class="post-image" alt="">

                <video th:if="${post.extFile == 'mp4' || post.extFile == 'mov'}" width="100%" autoplay controls loop muted>
                    <source th:src="@{'/resources/video/users/' + ${post.user.username} + '/' + ${post.photo}}" type=video/mp4>
                </video>
                <div class="post-content">
                    <div class="reaction-wrapper">
                        <a th:if="${isLike != 0}" th:href="@{/unlike_view_sub/{postId}(postId = ${post.postId})}">
                            <img th:src="@{/resources/img/icons/like.png}" class="icon" alt="">
                        </a>
                        <a th:if="${isLike == 0}" th:href="@{/like_view_sub/{postId}(postId = ${post.postId})}">
                            <img th:src="@{/resources/img/icons/notlike.png}" class="icon" alt="">
                        </a>
                        <a th:href="@{/comment/sub/{postId}(postId = ${post.postId})}">
                            <img th:src="@{/resources/img/nav/comment.png}" class="icon" alt="">
                        </a>
                    </div>
                    <p th:if="${countLikes != 0}" class="likes" th:text="#{label_likes} + ': ' + ${countLikes}"></p>
                    <b class="description">
                        <span th:if="${post.user.isGoogle == false}" th:text="${post.user.username}"></span>
                        <span th:if="${post.user.isGoogle == true}" th:text="${post.user.email}"></span>
                    </b>
                    <span class="description" th:text="${post.content}"></span>
                    <p class="post-time" th:text="${#temporals.format(post.createdAt, 'dd.MM.yyyy')} + ' ' + #{text_date_year}"></p>

                    <!-- Comments -->
                    <div class="view-source comments-view">
                        <a th:href="@{/comment/sub/{postId}(postId = ${post.postId})}" th:each="like, state : ${post.comments}" class="description comments" th:text="${state.last} ? #{label_see_all_comments} + ' (' + ${state.count} + ')' : ''"></a>
                    </div>
                </div>

                <!-- Comments Form -->
                <div sec:authorize="hasAnyRole('USER')">
                    <div class="div-smiles-messages" th:insert="fragments.html :: smiles-in-comments"></div>
                    <form class="comment-wrapper" method="POST" th:action="@{/comment/create_subuser_comment}">
                        <input type="hidden" name="postId" th:value="${post.postId}" />
                        <input id="smile" th:if="${post.user.isGoogle == false}" type="text" class="comment-box description" name="commentText"  th:placeholder="#{input_comment_like} + ' ' + ${user} + '...'" maxlength="255" required>
                        <input id="smile" th:if="${post.user.isGoogle == true}" type="text" class="comment-box description" name="commentText"  th:placeholder="#{input_comment_like} + ' ' + ${userinfo.email} + '...'" maxlength="255" required>
                        <br>
                        <button class="comment-btn" th:text="#{button_publish}"></button>
                    </form>
                </div>
            </div>

            <!-- Footer -->
            <footer th:insert="fragments.html :: footer"></footer>

        </div>

        <!-- Right Column -->
        <div th:insert="fragments.html :: right-column"></div>

    </div>
</section>

<!-- Bootstrap core JavaScript -->
<!--<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->

</body>
</html>