<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">

<head>
    <title id="pageTitle" th:text="#{page_label_subscriptions} + ' - ' + #{application_name}"></title>
    <th:block th:include="fragments.html :: header"/>
    <!-- partial -->
    <script th:inline="javascript">
        var data = [[${posts_sub}]];
        var contextPath = [[${contextPath}]];
        var totalPages = [[${totalPages}]];
        var usernameCurrent = [[${user}]];
        var userPhotoCurrent = [[${userPhotoCurrent}]];
        var userInfo = [[${userinfo}]];
        var isYourLike = [[${isYourLike}]];
        var size = [[${size}]];
    </script>
    <script type="text/javascript" th:src="@{/resources/js/infinite_scroll.js}"></script>
</head>

<!-- Navigation -->
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" th:insert="fragments.html :: navigation"></nav>

<!-- Page Content -->
<section class="main">
    <div class="wrapper">
        <div class="left-col">
            <div id="posts"></div>
            <img id="next-page" class="hidden loading-ico" th:src="@{/resources/img/icons/loading.gif}" width="80px" />

            <!-- Footer -->
            <footer th:insert="fragments.html :: footer"></footer>
        </div>

        <!-- Right Column -->
        <div th:insert="fragments.html :: right-column"></div>
    </div>
</section>

<script>
    posts_pagination();
</script>

</body>
</html>
