<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <title id="pageTitle" th:text="#{application_name} + ' - ' + #{page_label_wishlist}"></title>
  <th:block th:include="fragments.html :: header"/>
</head>

<!-- Navigation -->
<body>
<nav class="navbar" th:insert="fragments.html :: navigation"></nav>

<!-- Page Content -->
<section class="main">
  <div class="wrapper">
    <div class="left-col">

      <!-- Wishlist -->
      <div class="post">
        <div class="info">
          <div class="user">
            <p class="comments-logo" th:text="#{text_wishlist}"></p>
          </div>
          <a class="audio-add" th:href="@{/wishlist/add}"><span th:text="#{button_add_wishlist}"></span></a>
          <a class="audio-add" th:href="@{/wishlist_my_booking}"><span th:text="'Мои брони'"></span></a>
        </div>
      </div>
      <div class="post">
        <div class="post-content">
          <div class="view-source comments-view">
            <div th:if="${!wishlistAll.isEmpty()}" th:each="wishlistAll_view: ${wishlistAll}" th:id="'wishlist-' + ${wishlistAll_view.wishlistId}" th:name="'wishlist-' + ${wishlistAll_view.wishlistId}">
              <div class="media-body">
                <div class="info-comments">
                  <table class="dialogs-table">
                    <tr>
                      <td class="td-wishlist-photo">
                        <img class="wishlist-photo" th:src="@{'/resources/img/users/' + ${user} + '/wishlist/' + ${wishlistAll_view.photo}}">
                        <div>
                          <img class="img-icon" th:if="${wishlistAll_view.secret == true}" th:src="@{'/resources/img/icons/private.png'}" />
                          <span th:if="${wishlistAll_view.secret == true}" class="wishlist-text" th:text="#{text_wishlist_private}"></span>
                        </div>
                        <div>
                          <img class="img-icon" th:if="${wishlistAll_view.secret == false}" th:src="@{'/resources/img/icons/public.png'}" />
                          <span th:if="${wishlistAll_view.secret == false}" class="wishlist-text" th:text="#{text_wishlist_public}"></span>
                        </div>
                      </td>
                      <td class="td-wishlist-text">
                        <p class="wishlist-text-logo" th:text="${wishlistAll_view.nameWish}"></p>
                        <p class="wishlist-text" th:text="#{text_wishlist_description} + ' ' + ${wishlistAll_view.description}"></p>
                        <p class="wishlist-text" th:text="#{text_wishlist_price} + ' ' + ${wishlistAll_view.price} + ' ' + #{text_wishlist_rub}"></p>
                        <span class="wishlist-text" th:text="#{text_wishlist_link} + ' '"></span><a class="wishlist-text" th:href="${wishlistAll_view.link}" th:text="${wishlistAll_view.link}"></a>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div th:if="${wishlistAll.isEmpty()}">
              <div class="media-body">
                <div class="view-source comments-view">
                  <br><br><br>
                  <h1 class="h3 mb-3 font-weight-normal text-center"
                      th:text="#{text_no_wishlist}"></h1>
                  <br><br><br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <footer th:insert="fragments.html :: footer"></footer>

    </div>

    <!-- Right Column -->
    <div th:insert="fragments.html :: right-column"></div>
  </div>
</section>

</body>
</html>