<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title id="pageTitle" th:text="#{page_label_new_song} + ' - ' + #{application_name}"></title>
    <th:block th:include="fragments.html :: header"/>
</head>

<!-- Navigation -->
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" th:insert="fragments.html :: navigation"></nav>

<!-- Page Content -->
<section class="main">
    <div sec:authorize="isAuthenticated()" class="wrapper">
        <div class="left-col">
            <div class="frame-title-create-form">
                <p class="logo-title-text-create-form" th:text="#{page_label_new_song}"></p>
            </div>
            <div class="frame-content-create-form">
                <div class="form-create">
                    <form method="POST" th:action="@{/music/save}">
                        <input name="projectName" class="input-fields" th:value="${projectName}" th:placeholder="#{input_enter_project_name_text}" />
                        <input name="songName" class="input-fields" th:value="${songName}" th:placeholder="#{input_enter_song_name_text}" />
                        <input name="songYear" class="input-fields" th:value="${songYear}" th:placeholder="#{input_enter_release_year_text}" />
                        <button type="submit" class="btn-create" th:text="#{button_download}"></button>
                    </form>
                </div>
            </div>

            <!-- Footer -->
            <footer th:insert="fragments.html :: footer"></footer>
        </div>

        <!-- Right Column -->
        <div th:insert="fragments.html :: right-column"></div>
    </div>
</section>

</body>
</html>