<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <title th:text="#{page_label_create_playlist} + ' - ' + #{application_name}"></title>
  <th:block th:include="fragments.html :: header"/>
</head>

<!-- Navigation -->
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" th:insert="fragments.html :: navigation"></nav>

<!-- Page Content -->
<section class="main" sec:authorize="isAuthenticated()">
  <div class="wrapper">
    <div class="left-col">
      <div class="frame-title-create-form">
        <p class="logo-title-text-create-form" th:text="#{page_label_create_playlist}"></p>
      </div>
      <div class="frame-content-create-form">
        <div class="form-create">
          <form method="POST" th:action="@{/music/playlists/create}">
            <input name="playlistName" class="input-fields" th:value="${projectName}" th:placeholder="#{input_enter_playlist_name}" maxlength="100" required />
            <button type="submit" class="btn-create" th:text="#{button_create_playlist}"></button>
          </form>
        </div>
      </div>

      <!-- Footer -->
      <footer th:insert="fragments.html :: footer"></footer>
    </div>

    <!-- Right Column -->
    <div th:insert="fragments.html :: right-column"></div>
  </div>
</section>

</body>
</html>