<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <title th:text="#{page_label_playlists} + ' - ' + #{application_name}"></title>
  <th:block th:include="fragments.html :: header"/>
</head>

<!-- Navigation -->
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" th:insert="fragments.html :: navigation"></nav>

<!-- Page Content -->
<section class="main" sec:authorize="isAuthenticated()">
  <div class="wrapper">
    <div class="left-col">

      <!-- Music -->
      <div class="post">
        <div class="info">
          <div class="user">
            <p class="comments-logo" th:text="#{page_label_playlists}"></p>
          </div>
          <a class="audio-add" th:href="@{/music/addfile}"><span th:text="#{button_add_song}"></span></a>
          <a class="audio-add" th:href="@{/music/playlist/create}"><span th:text="#{button_create_playlist}"></span></a>
          <a class="audio-add" th:href="@{/music}"><span th:text="#{menu_my_music}"></span></a>
        </div>
      </div>
      <div class="post">
        <div class="post-content">
          <div class="view-source comments-view">
            <div th:if="${!playlistAll.isEmpty()}" th:each="playlistAll_view: ${playlistAll}" th:id="'playlist-' + ${playlistAll_view.playlistId}" th:name="'playlist-' + ${playlistAll_view.playlistId}">
              <div class="media-body">
                <div class="info-comments">
                  <table class="dialogs-table">
                    <tr>
                      <td class="audio-text-icons">
                        <a th:href="@{/music/playlist/} + ${playlistAll_view.playlistId}" th:text="${playlistAll_view.playlistName}"></a>
                      </td>
                      <td class="audio-text-icons">
                        <a class="wishlist-add"  th:onclick="'deletePlaylist(\'' + ${playlistAll_view.playlistId} + '\');'">
                          <img class="img-icon" th:src="@{'/resources/img/icons/delete.png'}" />
                        </a>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div th:if="${playlistAll.isEmpty()}">
              <div class="media-body">
                <div class="view-source comments-view">
                  <br><br><br>
                  <h1 class="h3 mb-3 font-weight-normal text-center"
                      th:text="#{text_no_music}"></h1>
                  <br><br><br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <footer th:insert="fragments.html :: footer"></footer>
    </div>

    <!-- Right Column -->
    <div th:insert="fragments.html :: right-column"></div>
  </div>
</section>

</body>
</html>