<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <title id="pageTitle" th:text="#{page_label_playlist} + ' ' + ${namePlaylist} + ' - ' + #{application_name}"></title>
  <th:block th:include="fragments.html :: header"/>
</head>

<!-- Navigation -->
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" th:insert="fragments.html :: navigation"></nav>

<!-- Page Content -->
<section class="main" sec:authorize="isAuthenticated()">
  <div class="wrapper">
    <div class="left-col">

      <!-- Music -->
      <div class="post">
        <div class="info">
          <div class="user">
            <p class="comments-logo" th:text="${namePlaylist}"></p>
          </div>
          <a class="audio-add" th:href="@{/music/addfile}"><span th:text="#{button_add_song}"></span></a>
          <a class="audio-add" th:href="@{/music/playlist/create}"><span th:text="#{button_create_playlist}"></span></a>
          <a class="audio-add" th:href="@{/music/playlists}"><span th:text="#{page_label_playlists}"></span></a>
          <a class="audio-add" th:href="@{/music}"><span th:text="#{menu_my_music}"></span></a>
        </div>
      </div>
      <div class="post">
        <div class="post-content">
          <div class="view-source comments-view">
            <div th:if="${!viewPlaylist.isEmpty()}" th:each="viewPlaylist_view, stat: ${viewPlaylist}" th:id="'playlist-' + ${playlistId} + '/' + ${viewPlaylist_view.musicId}" th:name="'playlist-' + ${playlistId} + '/' + ${viewPlaylist_view.musicId}">
              <div class="media-body">
                <div class="info-comments">
                  <table class="dialogs-table">
                    <tr>
                      <td class="audio-controls">
                        <audio controls th:onplay="'switchTrack(\'' + ${stat.index} + '\');'">
                          <source th:src="@{'/resources/music/users/' + ${user} + '/' + ${viewPlaylist_view.fileName}}" type="audio/mpeg" />
                          <p>
                            Ваш браузер не поддерживает HTML5 аудио. Вот взамен
                            <a th:href="@{'/resources/music/users/' + ${user} + '/' + ${viewPlaylist_view.fileName}}">Ссылка на аудио</a>
                          </p>
                        </audio>
                      </td>
                      <td class="audio-text">
                        <p th:text="${viewPlaylist_view.songName +' ('+ viewPlaylist_view.songYear} + ')'"></p>
                        <b th:text="${viewPlaylist_view.projectName}"></b>
                      </td>
                      <td class="audio-text">
                        <a class="wishlist-add" th:onclick="'deleteFromPlaylist(\'' + ${playlistId} + '/' + ${viewPlaylist_view.musicId} + '\');'">
                          <img class="img-icon" th:src="@{'/resources/img/icons/delete.png'}" />
                        </a>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div th:if="${viewPlaylist.isEmpty()}">
              <div class="media-body">
                <div class="view-source comments-view">
                  <br><br><br>
                  <h1 class="h3 mb-3 font-weight-normal text-center"
                      th:text="#{text_no_music_in_playlist}"></h1>
                  <br><br><br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <footer th:insert="fragments.html :: footer"></footer>
    </div>

    <!-- Right Column -->
    <div th:insert="fragments.html :: right-column"></div>
  </div>
</section>

<script type="text/javascript" th:src="@{/resources/js/music-play.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/switch-track.js}"></script>

</body>
</html>